%section.p-t_2.p-b_8{role: "region", "aria-label" => "Events show"}
  .ctn
    .grid
      %section.grid-i.__desktop-grid-3-4.__tablet-grid-1-1.__phone-grid-1-1
        %article.article.__events
          %header.article_header.m-b_4
            %i.ico.__64.__events.m-b_2
            %h1.m-b_2 Праздник для любителей домашних животных &laquo;Зоошоу 2013&raquo;
            %p.article_announcement.m-b_2 Танцы с&nbsp;собаками, самый стойкий суслик, показ модной одежды для крыс, показательные петушиные бои&nbsp;&mdash; и&nbsp;это далеко не&nbsp;весь список развлечений, входящий в&nbsp;программу международной выставки &laquo;Зоошоу 2013&raquo;, которая состоится ближе к&nbsp;концу ноября в&nbsp;Северной столице.
            %p.tx.__center.epsilon.m-b_2 20 декабря — 21 декабря
            .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1
              %a{href: "#", class: "form_button form_el __block js-add"}
                Добавить в календарь
          .article_body.cnt.m-b_2
            %img{src: "/assets/images/fake/img_800_520_02.jpg", alt: "Источник фото: white-plate.livejournal.com"}
            %p Грандиозный праздник для любителей животных, каким по&nbsp;праву можно назвать это событие, представляет собой специализированную выставку кинологических, фелинологических клубов и&nbsp;животных, соревнования, включая в&nbsp;себя модные показы, конкурсы с&nbsp;участием животных, специальные развлекательные программы и&nbsp;многое другое.
            %p Участникам &laquo;Зоошоу&raquo; предлагают потанцевать с&nbsp;собаками, пройти мастер-класс по&nbsp;дрессировке; посмотреть на&nbsp;кошек редких пород: от&nbsp;кошек-овечек и&nbsp;кошек-цветочков до&nbsp;гигантов мейн-кунов. Школьников ждет большая познавательная программа &laquo;Планета животных&raquo;. Помимо этого, гости смогут выбрать самого стойкого суслика и&nbsp;самого дрессированного хорька, а&nbsp;также оценить выступление &laquo;Пушистые проказники&raquo;, главными актерами которого, естественно, станут милые грызуны.
            %blockquote Крысы предстанут в&nbsp;роли моделей: на&nbsp;выставке готовится показ новых коллекций одежды &laquo;Русская КРЫСавица&raquo; для этих представителей животного мира.
            %p Всего под крышей Ленэкспо в&nbsp;дни проведения выставки соберется огромное количество &laquo;братьев наших меньших&raquo;: более 3000&nbsp;собак, свыше 500&nbsp;кошек, около 200&nbsp;грызунов, почти 100 хорьков и&nbsp;фреток и&nbsp;множество разнообразных видов декоративной птицы.
            %p Яркое и, несомненно, запоминающееся мероприятие по традиции проходит в Петербурге каждую осень. В этом году «Зоошоу» будет ждать петербуржцев и гостей города в стенах Ленэкспо на протяжении двух дней.
          %footer.article_footer
            %p.m-b_4
              %b Телефон:&nbsp;
              8 (812) 346-18-50
            %section.tx.__center
              .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1.m-b_4
                %figure
                  %i.ico.__40.__pin
                  %p.tx.__xs.__upper Место
                  %figcaption.p-t_1
                    %p.tx.__xl Ленэкспо 3,4 павильон,
                    %p.tx.__xl Большой пр. В.О., 103
              .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1.m-b_4
                %figure
                  %i.ico.__40.__calendar
                  %p.tx.__xs.__upper Дата
                  %figcaption.p-t_1
                    %p.tx.__xl 23 ноября — 24 ноября
                    %p.tx.__xl Начало в 13:00
              .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1.m-b_4
                %figure
                  %i.ico.__40.__coin
                  %p.tx.__xs.__upper Вход
                  %figcaption.p-t_1
                    %p.tx.__xl взрослый — 200 руб.
                    %p.tx.__xl льготный — 150 руб.
            .tx.__center
              .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1
                %a{href: "#", class: "form_button form_el __block js-add"}
                  Добавить в календарь
        = haml '/views/common/article/_share'.to_sym
        = haml '/views/common/article/_comments'.to_sym
        = haml '/views/common/article/_materials'.to_sym
      = haml '/views/common/article/_sidebar'.to_sym