%section.p-t_2.p-b_8{role: "region", "aria-label" => "News show"}
  .ctn
    .grid
      %section.grid-i.__desktop-grid-3-4.__tablet-grid-1-1.__phone-grid-1-1
        %article.article.__news
          %header.article_header.m-b_4
            %i.ico.__64.__news.m-b_2
            %p.article_header_t.m-b_2 Безымянный шторм в&nbsp;Петербурге оказался сильнее &laquo;Святого Иуды&raquo;
            %p.article_date.m-b_2 понедельник, 11 ноября 2013
            %p.article_announcement В&nbsp;это воскресенье в&nbsp;город на&nbsp;Неве вместе с&nbsp;циклоном пришел сильный ураганный ветер. Особой шумихи вокруг шторма не&nbsp;было, зато безымянный ураган причинил куда больше проблем городу, чем напугавший всю Европу &laquo;Святой Иуда&raquo;. Штормовой ветер срывал деревья с&nbsp;крыш.
          .article_body.cnt.m-b_2
            .slider.__show
              .slides
                - 1.upto(3) do
                  .slides_i
                    %img{src: "/assets/images/fake/img_800_520_01.jpg", alt: ""}
              .slider_pager
              .slider_nav.hidden-phone
                .slider_nav_i.__prev
                  %i.fa.fa-chevron-left
                .slider_nav_i.__next
                  %i.fa.fa-chevron-right
            %p Дамбу перекрыли еще в&nbsp;ночь с&nbsp;субботы на&nbsp;воскресенье. В&nbsp;общей сложности дамба была закрыта около 18&nbsp;часов, что опять&nbsp;же позволило городу избежать серьезного наводнения.
            %p Безымянный шторм валил <a href="#">светофоры и&nbsp;деревья</a>, срывал металлическую кровлю с&nbsp;крыш и&nbsp;вырывал дорожные знаки. Бригады МЧС выезжали на&nbsp;места происшествий более двух десятков раз, устраняя последствия ураганного ветра.
            %h2 По своей силе шторм не превзошел октябрьского «Святого Иуду»
            %p Дамбу перекрыли еще в&nbsp;ночь с&nbsp;субботы на&nbsp;воскресенье. В&nbsp;общей сложности дамба была закрыта около 18&nbsp;часов, что опять&nbsp;же позволило городу избежать серьезного наводнения.
            %blockquote Безымянный шторм валил светофоры и&nbsp;деревья, срывал металлическую кровлю с&nbsp;крыш и&nbsp;вырывал дорожные знаки. Бригады МЧС выезжали на&nbsp;места происшествий более двух десятков раз, устраняя последствия.
            %p По&nbsp;своей силе шторм не&nbsp;превзошел октябрьского &laquo;Святого Иуду&raquo;. Порывы ветра достигали скорости 22&nbsp;метра в&nbsp;секунду, а&nbsp;у&nbsp;гидропоста &laquo;Горный институт&raquo; вода достигла отметки в&nbsp;130&nbsp;сантиметров. Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
            %p Из-за сильного шторма в&nbsp;петербургский порт не&nbsp;пускали корабли. Семь сухогрузов и&nbsp;пассажирский паром &laquo;Принцесса Мария&raquo; достаточно долго ожидали открытие навигации.
            %h3 Последствия безымянного шторма
            %p По&nbsp;своей силе шторм не&nbsp;превзошел октябрьского &laquo;Святого Иуду&raquo;. Порывы ветра достигали скорости 22&nbsp;метра в&nbsp;секунду, а&nbsp;у&nbsp;гидропоста &laquo;Горный институт&raquo; вода достигла отметки в&nbsp;130&nbsp;сантиметров. Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
            %ol
              %li «Круиз на одну ночь»
              %li «Пассаж» на Невском обновится
              %li Двухэтажные автобусы Европы украсит туристическая реклама Москвы
              %li Творческая Мастерская «квARTира» и костюмерная Пять Звезд
              %li Стрит-арт по произведениям Куприна
            %p Из-за сильного шторма в&nbsp;петербургский порт не&nbsp;пускали корабли. Семь сухогрузов и&nbsp;пассажирский паром &laquo;Принцесса Мария&raquo; достаточно долго ожидали открытие навигации.
            %img{src: "/assets/images/fake/img_458_458_01.jpg", alt: "Источник фото: fontanka.ru, Автор: Сергий Тюрин"}
            %p По&nbsp;своей силе шторм не&nbsp;превзошел октябрьского &laquo;Святого Иуду&raquo;. Порывы ветра достигали скорости 22&nbsp;метра в&nbsp;секунду, а&nbsp;у&nbsp;гидропоста &laquo;Горный институт&raquo; вода достигла отметки в&nbsp;130&nbsp;сантиметров. Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
            %p Из-за сильного шторма в&nbsp;петербургский порт не&nbsp;пускали корабли. Семь сухогрузов и&nbsp;пассажирский паром &laquo;Принцесса Мария&raquo; достаточно долго ожидали открытие навигации.
            %h3 Дамба была закрыта около 18 часов
            %p Безымянный шторм валил светофоры и&nbsp;деревья, срывал металлическую кровлю с&nbsp;крыш и&nbsp;вырывал дорожные знаки. Бригады МЧС выезжали на&nbsp;места происшествий более двух десятков раз, устраняя последствия ураганного ветра. По&nbsp;своей силе шторм не&nbsp;превзошел октябрьского &laquo;Святого Иуду&raquo;. Порывы ветра достигали скорости 22&nbsp;метра в&nbsp;секунду, а&nbsp;у&nbsp;гидропоста &laquo;Горный институт&raquo; вода достигла отметки в&nbsp;130&nbsp;сантиметров. Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
          %footer.article_footer
            = haml '/views/common/article/_author'.to_sym
            %article.article_related
              = haml '/views/common/article/_related'.to_sym
        = haml '/views/common/article/_article_footer'.to_sym
      = haml '/views/common/article/_sidebar'.to_sym