%section.p-t_2.p-b_8{role: "region", "aria-label" => "News show"}
  .ctn
    .grid
      %section.grid-i.__desktop-grid-3-4.__tablet-grid-1-1.__phone-grid-1-1
        %article.article.__news
          %header.article_header.m-b_4
            %i.ico.__64.__news.m-b_2
            %h1.m-b_2 Безымянный шторм в&nbsp;Петербурге оказался сильнее &laquo;Святого Иуды&raquo;
            %p.article_date.m-b_2 понедельник, 11 ноября 2013
            %p.article_announcement В&nbsp;это воскресенье в&nbsp;город на&nbsp;Неве вместе с&nbsp;циклоном пришел сильный ураганный ветер. Особой шумихи вокруг шторма не&nbsp;было, зато безымянный ураган причинил куда больше проблем городу, чем напугавший всю Европу &laquo;Святой Иуда&raquo;. Штормовой ветер срывал деревья с&nbsp;крыш.
          .article_body.cnt.m-b_2
            %img{src: "/assets/images/fake/img_800_520_01.jpg", width: "100%", alt: ""}
            %p Дамбу перекрыли еще в&nbsp;ночь с&nbsp;субботы на&nbsp;воскресенье. В&nbsp;общей сложности дамба была закрыта около 18&nbsp;часов, что опять&nbsp;же позволило городу избежать серьезного наводнения.
            %p Безымянный шторм валил <a href="#">светофоры и&nbsp;деревья</a>, срывал металлическую кровлю с&nbsp;крыш и&nbsp;вырывал дорожные знаки. Бригады МЧС выезжали на&nbsp;места происшествий более двух десятков раз, устраняя последствия ураганного ветра.
            %h2 По своей силе шторм не превзошел октябрьского «Святого Иуду»
            %p Дамбу перекрыли еще в&nbsp;ночь с&nbsp;субботы на&nbsp;воскресенье. В&nbsp;общей сложности дамба была закрыта около 18&nbsp;часов, что опять&nbsp;же позволило городу избежать серьезного наводнения.
            %blockquote Безымянный шторм валил светофоры и&nbsp;деревья, срывал металлическую кровлю с&nbsp;крыш и&nbsp;вырывал дорожные знаки. Бригады МЧС выезжали на&nbsp;места происшествий более двух десятков раз, устраняя последствия.
            %p По&nbsp;своей силе шторм не&nbsp;превзошел октябрьского &laquo;Святого Иуду&raquo;. Порывы ветра достигали скорости 22&nbsp;метра в&nbsp;секунду, а&nbsp;у&nbsp;гидропоста &laquo;Горный институт&raquo; вода достигла отметки в&nbsp;130&nbsp;сантиметров. Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
            %p Из-за сильного шторма в&nbsp;петербургский порт не&nbsp;пускали корабли. Семь сухогрузов и&nbsp;пассажирский паром &laquo;Принцесса Мария&raquo; достаточно долго ожидали открытие навигации.
            %h3 Последствия безымянного шторма
            %p По&nbsp;своей силе шторм не&nbsp;превзошел октябрьского &laquo;Святого Иуду&raquo;. Порывы ветра достигали скорости 22&nbsp;метра в&nbsp;секунду, а&nbsp;у&nbsp;гидропоста &laquo;Горный институт&raquo; вода достигла отметки в&nbsp;130&nbsp;сантиметров. Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
            %ol
              %li «Круиз на одну ночь»
              %li «Пассаж» на Невском обновится
              %li Двухэтажные автобусы Европы украсит туристическая реклама Москвы
              %li Творческая Мастерская «квARTира» и костюмерная Пять Звезд
              %li Стрит-арт по произведениям Куприна
            %p Из-за сильного шторма в&nbsp;петербургский порт не&nbsp;пускали корабли. Семь сухогрузов и&nbsp;пассажирский паром &laquo;Принцесса Мария&raquo; достаточно долго ожидали открытие навигации.
            %img{src: "/assets/images/fake/img_458_458_01.jpg", alt: ""}
            %p По&nbsp;своей силе шторм не&nbsp;превзошел октябрьского &laquo;Святого Иуду&raquo;. Порывы ветра достигали скорости 22&nbsp;метра в&nbsp;секунду, а&nbsp;у&nbsp;гидропоста &laquo;Горный институт&raquo; вода достигла отметки в&nbsp;130&nbsp;сантиметров. Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
            %p Из-за сильного шторма в&nbsp;петербургский порт не&nbsp;пускали корабли. Семь сухогрузов и&nbsp;пассажирский паром &laquo;Принцесса Мария&raquo; достаточно долго ожидали открытие навигации.
            %h3 Дамба была закрыта около 18 часов
            %p Безымянный шторм валил светофоры и&nbsp;деревья, срывал металлическую кровлю с&nbsp;крыш и&nbsp;вырывал дорожные знаки. Бригады МЧС выезжали на&nbsp;места происшествий более двух десятков раз, устраняя последствия ураганного ветра. По&nbsp;своей силе шторм не&nbsp;превзошел октябрьского &laquo;Святого Иуду&raquo;. Порывы ветра достигали скорости 22&nbsp;метра в&nbsp;секунду, а&nbsp;у&nbsp;гидропоста &laquo;Горный институт&raquo; вода достигла отметки в&nbsp;130&nbsp;сантиметров. Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
          %footer.article_footer
            %p.m-b_8
              %b Фото:&nbsp;
              Андрей стрельников
            %article.article_related
              %h4.m-b_2 Статьи по теме:
              %ul
                %li
                  %a{href: "/news_show"} По своей силе шторм не превзошел октябрьского «Святого Иуду».
                %li
                  %a{href: "/news_show"} Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
                %li
                  %a{href: "/news_show"} По своей силе шторм не превзошел октябрьского «Святого Иуду».
        %section.article_share
          :javascript
            (function() {
              if (window.pluso)if (typeof window.pluso.start == "function") return;
              if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
            }})();
          .article_share_label Поделитесь с&nbsp;друзьями:
          .pluso.va-m{data: {background: "transparent", options: "big,round,line,horizontal,counter,theme=04", services: "vkontakte,odnoklassniki,facebook,twitter"}}
          .article_share_views
            %i.ico.__16.__eye
            &nbsp;&nbsp;
            2037

        %section.comments.m-b_2
          #disqus_thread
          :javascript
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'oskolsky'; // required: replace example with your forum shortname
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          %noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          %a{href: "http://disqus.com", class: "dsq-brlink"}
            comments powered by
            %span.logo-disqus Disqus
        .grid
          .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.hidden-phone
            = haml '/views/materials/_news'.to_sym
          .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.hidden-phone
            = haml '/views/materials/_live'.to_sym
          .grid-i.__desktop-grid-1-3.visible-desktop
            = haml '/views/materials/_landmark'.to_sym
      %sidebar.grid-i.__desktop-grid-1-4.visible-desktop
        .grid
          - 1.upto(2) do
            .grid-i.__desktop-grid-1-1
              = haml '/views/materials/_news'.to_sym