%section.p-t_2.p-b_8{role: "region", "aria-label" => "Feed places"}
  .ctn
    #feed.feed.grid.m-b_6
      - 1.upto(12) do
        .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
          = haml '/views/materials/_places'.to_sym
    .tx.__center
      %a{href: "#", class: "load-more", id: "refresher", rel: "places"}
        .load-more_btn
          %img{src: "/assets/images/load-more.svg", width: "48", class: "load-more_img"}
        .load-more_tx
          Показать ещё