%section.p-t_2.p-b_8{role: "region", "aria-label" => "Places show"}
  .ctn
    .grid
      %section.grid-i.__desktop-grid-3-4.__tablet-grid-1-1.__phone-grid-1-1
        %article.article.__places
          %header.article_header.m-b_8
            %i.ico.__64.__places.m-b_2
            %p.article_header_t.m-b_2 Топ-25&nbsp;ресторанов, рекомендованных к&nbsp;посещению
            %p.article_date.m-b_2 понедельник, 11 ноября 2013
            %p.article_announcement Насчитывается около 170 видов восточных сладостей, которые так любят по&nbsp;всему миру: халва, лукум, грильяж, козинаки, нуга и&nbsp;многое другое. Вкусные восточные деликатесы, пришедшие к&nbsp;нам из&nbsp;стран Ближнего и&nbsp;Среднего Востока, можно купить в&nbsp;Петербурге и&nbsp;устроить тематическое чаепитие.
          .article_body.m-b_2
            %section.article_body_places{data: {number: 1}}
              .cnt.m-b_4
                %h4 Biblioteka food and the city
                %img{src: "/assets/images/fake/img_800_520_03.jpg", alt: "Источник фото: premierrest.ru"}
                %p Три этажа бывшего &laquo;Дома военной книги&raquo; занимает исключительный гастрономический проект. Под крышей дома номер 20&nbsp;по&nbsp;Невскому проспекту уместилось сразу&nbsp;же несколько ресторанов, книжный магазин; лавка, где продают свечи ручной работы и&nbsp;лекционное пространство. На&nbsp;первом этаже ресторана посетители смогут найти достаточно широкий выбор бургеров с&nbsp;различным наполнением. Также стоит отметить и&nbsp;местную пасту. В&nbsp;категории &laquo;паста&raquo; в&nbsp;ресторане представлено 7&nbsp;блюд.
              .tx.__center
                .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1.m-b_4
                  %figure
                    %i.ico.__40.__pin
                    %p.tx.__xs.__upper Место
                    %figcaption.p-t_1
                      %p.tx.__xl ул. Академика Павлова, 5, ТК&nbsp;&laquo;River House&nbsp;/ Ривер Хаус&raquo; 2&nbsp;и&nbsp;7&nbsp;этаж
                .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1.m-b_4
                  %figure
                    %i.ico.__40.__clock
                    %p.tx.__xs.__upper Время работы
                    %figcaption.p-t_1
                      %p.tx.__xl вт-чт: с&nbsp;12:00 до&nbsp;1:00, кухня&nbsp;до&nbsp;0:45
                      %p.tx.__xl пт, сб: с&nbsp;12:00 до&nbsp;6:00, кухня&nbsp;до&nbsp;1:00
                      %p.tx.__xl пн: выходной
                .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1.m-b_4
                  %figure
                    %i.ico.__40.__purse
                    %p.tx.__xs.__upper Средний счет
                    %figcaption.p-t_1
                      %p.tx.__xl 1 500-2 000 руб.
            %section.article_body_places{data: {number: 55}}
              .cnt.m-b_4
                %h4 Ресторан «КоКоКо»
                %p Ресторан &laquo;КоКоКо&raquo; воспринимают, в&nbsp;первую очередь, как &laquo;проект Шнурова&raquo;, но&nbsp;кроме имени основателя есть и&nbsp;другие поводы сюда зайти. В&nbsp;заведении подают русскую кухню: лапшу из&nbsp;полбы, говядину в&nbsp;соусе из&nbsp;кваса и&nbsp;сельдь с&nbsp;тартаром из&nbsp;свеклы. Свежесть продуктов гарантируется поставщиками ингредиентов для кухни.
              .tx.__center
                .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1.m-b_4
                  %figure
                    %i.ico.__40.__pin
                    %p.tx.__xs.__upper Место
                    %figcaption.p-t_1
                      %p.tx.__xl ул. Пражская 48/50, ТЦ&nbsp;&laquo;Южный Полюс&raquo;, 3&nbsp;этаж
            %section.article_body_places{data: {number: 99}}
              .cnt.m-b_4
                %h4 Магазин «Сундук-Фундук»
                %img{src: "/assets/images/fake/img_800_520_03.jpg", alt: "Источник фото: premierrest.ru"}
                %p Всевозможные виды халвы, пастилы, пахлавы, лукума, нуги, чурчхелы&nbsp;&mdash; на&nbsp;радость сладкоежкам ассортимент необычайно широк. Кроме того, в&nbsp;продаже есть традиционные чаи, натуральный турецкий кофе, а&nbsp;также острый, соленый и&nbsp;сладкий леблеби&nbsp;&mdash; традиционное лакомство из&nbsp;высушенных и&nbsp;обжаренных бобов нут, гордость турецкой национальной кухни. Всего в&nbsp;городе 5&nbsp;магазинов.
              .tx.__center
                .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1.m-b_4
                  %figure
                    %i.ico.__40.__pin
                    %p.tx.__xs.__upper Место
                    %figcaption.p-t_1
                      %p.tx.__xl Невский проспект, 114-116, ТРК &laquo;Невский Центр&raquo;, 4&nbsp;эт.
                      %p.tx.__xl ул. Савушкина, д.&nbsp;126, ТРК &laquo;Атлантик Сити&raquo;, 3&nbsp;эт.
                      %p.tx.__xl Волковский&nbsp;пр., д.&nbsp;32, ТРК &laquo;Радиус&raquo;, 1&nbsp;и&nbsp;3&nbsp;эт.
                      %p.tx.__xl Балканская&nbsp;пл., д.&nbsp;5, ТРК &laquo;Балканский&raquo;.
                .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.__phone-grid-1-1.m-b_4
                  %figure
                    %i.ico.__40.__purse
                    %p.tx.__xs.__upper Средний счет
                    %figcaption.p-t_1
                      %p.tx.__xl Завтрак — 400 руб.
        = haml '/views/common/article/_article_footer'.to_sym
      = haml '/views/common/article/_sidebar'.to_sym