%footer#footer.footer{role: "contentinfo"}
  .ctn
    .grid-i.__desktop-grid-5-12.__tablet-grid-1-1.__phone-grid-1-1
      %p
        %span &copy; Blog Fiesta 2013
        %span
          Для связи:&nbsp;
          %a{href: "mailto: mail@blog-fiesta.com"} mail@blog-fiesta.com
    .grid-i.__desktop-grid-1-6.__tablet-grid-1-1.__phone-grid-1-1
      %nav.footer_social
        %a{href: "#", class: "footer_social_i ico __social __vk"}
        %a{href: "#", class: "footer_social_i ico __social __fb"}
        %a{href: "#", class: "footer_social_i ico __social __tw"}
    .grid-i.__desktop-grid-5-12.__tablet-grid-1-1.__phone-grid-1-1
      %p.tx.__right
        Разработка&nbsp;&mdash;&nbsp;
        %a{href: "http://www.coalla.ru", rel: "nofollow"} Coalla Agency