.slides_i
  %section.join{role: "region", "aria-label" => "Registration"}
    %table
      %tr
        %td
          .ctn
            .grid-i.__desktop-grid-1-2.__tablet-grid-2-3.__phone-grid-1-1.b-center
              .grid
                .grid-i.__desktop-grid-1-2.__tablet-grid-1-2.__phone-grid-1-1
                  .join_side
                    %h5.tx.__center.m-b_4 Регистрация
                    %form.form
                      .m-b_2
                        %input{type: "text", class: "form_text form_el __block", placeholder: "Имя"}
                      .m-b_2
                        %input{type: "text", class: "form_text form_el __block", placeholder: "Email"}
                      .m-b_2
                        %input{type: "text", class: "form_text form_el __block", placeholder: "Повторите Email"}
                      .m-b_2
                        %input{type: "submit", class: "form_button __black form_el __block", value: "Зарегистрироваться"}
                .grid-i.__desktop-grid-1-2.__tablet-grid-1-2.__phone-grid-1-1
                  .join_side
                    %h5.tx.__center.m-b_4 Через соцсети
                    %nav
                      %ul.join_social.grid
                        %li.join_social_i.grid-i.__desktop-grid-1-1.__tablet-grid-1-1.__phone-grid-1-3
                          %a{href: "#", class: "join_social_i_a __vk"}
                            %i.ico.__social.__mini.__vk.va-m{style: "margin-top: -2px;"}
                            &nbsp;
                            %span.hidden-phone Вконтакте
                        %li.join_social_i.grid-i.__desktop-grid-1-1.__tablet-grid-1-1.__phone-grid-1-3
                          %a{href: "#", class: "join_social_i_a __tw"}
                            %i.ico.__social.__mini.__tw.va-m
                            &nbsp;
                            %span.hidden-phone Twitter
                        %li.join_social_i.grid-i.__desktop-grid-1-1.__tablet-grid-1-1.__phone-grid-1-3
                          %a{href: "#", class: "join_social_i_a __fb"}
                            %i.ico.__social.__mini.__fb.va-m
                            &nbsp;
                            %span.hidden-phone Facebook