.grid
  .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.hidden-phone
    = haml '/views/common/blocks/_news'.to_sym
  .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.hidden-phone
    = haml '/views/common/blocks/_live'.to_sym
  .grid-i.__desktop-grid-1-3.visible-desktop
    = haml '/views/common/blocks/_landmark'.to_sym