%sidebar.grid-i.__desktop-grid-1-4.visible-desktop
  .grid
    .grid-i.__desktop-grid-1-1
      = haml '/views/common/blocks/_news'.to_sym
    .grid-i.__desktop-grid-1-1
      = haml '/views/common/blocks/_live'.to_sym
    .grid-i.__desktop-grid-1-1
      = haml '/views/common/blocks/_place'.to_sym