.grid
  .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.hidden-phone
    = haml '/views/materials/_news'.to_sym
  .grid-i.__desktop-grid-1-3.__tablet-grid-1-2.hidden-phone
    = haml '/views/materials/_live'.to_sym
  .grid-i.__desktop-grid-1-3.visible-desktop
    = haml '/views/materials/_landmark'.to_sym