%h4.m-b_2 Статьи по теме:
%ul
  %li
    %a{href: "/news_show"} По своей силе шторм не превзошел октябрьского «Святого Иуду».
  %li
    %a{href: "/news_show"} Стоит отметить, что отметка 160 сантиметров означает серьезное наводнение.
  %li
    %a{href: "/news_show"} По своей силе шторм не превзошел октябрьского «Святого Иуду».