%sidebar.grid-i.__desktop-grid-1-4.visible-desktop
  .grid
    .grid-i.__desktop-grid-1-1
      = haml '/views/materials/_news'.to_sym
    .grid-i.__desktop-grid-1-1
      = haml '/views/materials/_live'.to_sym
    .grid-i.__desktop-grid-1-1
      = haml '/views/materials/_places'.to_sym