@if $grid == "responsive-auto" or $grid == "responsive-manual" {

  //****************************************************************************************************
  //
  // .. PAGE
  //
  //****************************************************************************************************
  .page {
    &.__error {
      min-height: 600px;
    }
  }



  //****************************************************************************************************
  //
  // .. HEADER
  //
  //****************************************************************************************************
  .header {
    padding: 30px 0 10px;
  }
  .header_search {
    position: relative;
  }
  .header_search_input {
    width: 100%;
  }



  //****************************************************************************************************
  //
  // .. NAVIGATION
  //
  //****************************************************************************************************
  .navigation {
    &.__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
    }
  }



  //****************************************************************************************************
  //
  // .. ARTICLES
  //
  //****************************************************************************************************
  .article {
    padding-right: 40px;
    padding-left:  40px;
  }
    .article_announcement {
      padding-right: 60px;
      padding-left: 60px;
    }
    .article_related {
      > ul li {margin-left: 60px;}
    }
    .article_share_label {
      display: inline-block;
      margin-right: 15px;
      width: 80px;
    }
    .article_share_views {
      position: absolute;
      top: 50%;
      right: 40px;
      @include prefixes(transform, translate(0, -50%));
    }



  //****************************************************************************************************
  //
  // .. NAVIGATION
  //
  //****************************************************************************************************
  // .. null / .menu-toggle / .menu-toggle
  .menu {
    display: block !important;
  }
  .menu_i {
    display: inline-block;
    margin: 0 10px;
  }



  //****************************************************************************************************
  //
  // .. ERROR PAGE
  //
  //****************************************************************************************************
  .error-block {
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefixes(transform, translate(-50%, -50%));
  }

}