%nav
  %ul.timeline_list.hidden-phone
    %li.timeline_list_i
      %a{href: "#"}
        %span.timeline_list_date 22
        %span.timeline_list_day пт
    %li.timeline_list_i.__weekend
      %a{href: "#"}
        %span.timeline_list_date 23
        %span.timeline_list_day сб
    %li.timeline_list_i.__weekend
      %a{href: "#"}
        %span.timeline_list_date 24
        %span.timeline_list_day вс
    %li.timeline_list_i.__current
      %a{href: "#"}
        %span.timeline_list_date 25
        %span.timeline_list_day пн
    %li.timeline_list_i
      %a{href: "#"}
        %span.timeline_list_date 26
        %span.timeline_list_day вт
    %li.timeline_list_i
      %a{href: "#"}
        %span.timeline_list_date 27
        %span.timeline_list_day ср
    %li.timeline_list_i
      %a{href: "#"}
        %span.timeline_list_date 28
        %span.timeline_list_day чт
  %ul.timeline_list.hidden-tablet.hidden-phone
    %li.timeline_list_i
      %a{href: "#"}
        %span.timeline_list_date 29
        %span.timeline_list_day пт
    %li.timeline_list_i.__weekend
      %a{href: "#"}
        %span.timeline_list_date 30
        %span.timeline_list_day сб
    %li.timeline_list_i.__weekend
      %a{href: "#"}
        %span.timeline_list_date 1
        %span.timeline_list_day вс
    %li.timeline_list_i
      %a{href: "#"}
        %span.timeline_list_date 2
        %span.timeline_list_day пн
    %li.timeline_list_i
      %a{href: "#"}
        %span.timeline_list_date 3
        %span.timeline_list_day вт
    %li.timeline_list_i
      %a{href: "#"}
        %span.timeline_list_date 4
        %span.timeline_list_day ср
    %li.timeline_list_i
      %a{href: "#"}
        %span.timeline_list_date 5
        %span.timeline_list_day чт