.user-block
  %a{href: "/profile", class: "user-block_a visible-desktop"} Константин
  %a{href: "#"}
    %img{src: "/assets/images/user.png", class: "user-block_avatar", alt: "", width: 30, height: 30}
  %span.user-block_a.visible-desktop &darr;
