.user-block
  %a{href: "#", class: "user-block_a visible-desktop js-toggle-user-menu"} Константин
  %span{class: "user-block_avatar js-toggle-user-menu"}
    %img{src: "/assets/images/user.png", alt: "", width: 30, height: 30}
    %ul.menu_dropdown.__user
      %li.menu_dropdown_i
        %a.menu_dropdown_i_a{href: "/my_events"} Мой календарь
      %li.menu_dropdown_i
        %a.menu_dropdown_i_a{href: "/profile"} Настройки
      %li.menu_dropdown_i
        %a.menu_dropdown_i_a{href: "/"} Выход
  %span.user-block_a.visible-desktop &darr;