.user-block
  %a{href: "/join#login", class: "user-block_a visible-desktop"} Вход
  %a{href: "/join#login"}
    %img{src: "/assets/images/user.png", class: "user-block_avatar", alt: "", width: 30, height: 30}
  %a{href: "/join#register", class: "user-block_a visible-desktop"} Регистрация