@if $grid == "responsive-auto" or $grid == "responsive-manual" {

  //****************************************************************************************************
  //
  // .. HEADER
  //
  //****************************************************************************************************
  .header {
    padding: 30px 0 10px;
  }
    .header_search {
      position: relative;
    }
      .header_search_input {
        width: 60%;
      }



  //****************************************************************************************************
  //
  // .. NAVIGATION
  //
  //****************************************************************************************************
  .menu-toggle {
    opacity: 1 !important;
  }
  .menu {
    display: none;
    padding: 35px 0 25px;
  }
  .menu_i {
    display: block;
    &:not(:last-child) {margin-bottom: 10px;}
  }



  //****************************************************************************************************
  //
  // .. ARTICLES
  //
  //****************************************************************************************************
  .article_related {
    > ul li {margin-left: 60px;}
  }
  .article_share_label {
    display: inline-block;
    margin-right: 15px;
    width: 80px;
  }
  .article_share_views {
    position: absolute;
    top: 50%;
    right: 40px;
    @include prefixes(transform, translate(0, -50%));
  }



  //****************************************************************************************************
  //
  // .. ERROR PAGE
  //
  //****************************************************************************************************
  .error-block {
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefixes(transform, translate(-50%, -50%));
  }



  //****************************************************************************************************
  //
  // .. FOOTER
  //
  //****************************************************************************************************
  .footer_social {
    margin: 10px;
  }

}