@if $grid == "responsive-auto" or $grid == "responsive-manual" {

  //****************************************************************************************************
  //
  // .. HEADER
  //
  //****************************************************************************************************
  .header_inner {
    padding: 35px 0 30px;
  }

    //
    // .. User block
    //
    .user-block {
      position: absolute;
      top: 50%;
      right: 0;
      @include prefixes(transform, translate(0, -50%));
    }



  //****************************************************************************************************
  //
  // .. NAVIGATION
  //
  //****************************************************************************************************
  .menu {
    display: none;
    padding: 35px 0 25px;
  }
    .menu_i {
      display: block;
      &:not(:last-child) {margin-bottom: 10px;}
    }

  //
  // .. Search
  //
  .search {
    position: absolute;
    right: 0;
    left: 0;
  }
    .search_input {
      display: none;
      width: 100%;
    }
      .search_toggle {
        position: absolute;
        top: 0;
        right: 0;
        color: inherit;
        .ico {vertical-align: middle;}
      }



  //****************************************************************************************************
  //
  // .. ARTICLES
  //
  //****************************************************************************************************
  .article {
    padding-right: 20px;
    padding-left: 20px;
  }
    .article_announcement {
      padding-right: 0px;
      padding-left: 0px;
    }
    .article_related {
      > ul li {margin-left: 40px;}
    }
    .article_share {text-align: center;}
      .article_share_label {
        display: block;
        margin-bottom: 5px;
      }
      .article_share_views {margin-top: 5px;}



  //****************************************************************************************************
  //
  // .. JOIN
  //
  //****************************************************************************************************
  .join_side {padding: 0 50px;}



  //****************************************************************************************************
  //
  // .. ERROR PAGE
  //
  //****************************************************************************************************
  .error-block {
    padding-top: 70px;
    text-align: center;
  }



  //****************************************************************************************************
  //
  // .. ELEMENTS
  //
  //****************************************************************************************************
  //
  // .. Menu dropdown
  //
  .menu_dropdown {
    &.__user {
      right: 0;
    }
  }



  //****************************************************************************************************
  //
  // .. FOOTER
  //
  //****************************************************************************************************
  .footer {
    p {
      span {display: block;}
    }
  }
    .footer_social {
      margin: 10px;
    }

}