@if $grid == "responsive-auto" or $grid == "responsive-manual" {

  //****************************************************************************************************
  //
  // .. HEADER
  //
  //****************************************************************************************************
  .header {
    padding: 35px 0 30px;
  }
    .header_search {
      position: absolute;
      right: 0;
      left: 0;
    }
      .header_search_input {
        display: none;
        width: 100%;
      }
      .header_search_toggle {
        color: inherit;
        position: absolute;
        top: 0;
        right: 0;
        .ico {vertical-align: middle;}
      }



  //****************************************************************************************************
  //
  // .. NAVIGATION
  //
  //****************************************************************************************************
  .menu {
    display: none;
    padding: 35px 0 25px;
  }
  .menu_i {
    display: block;
    &:not(:last-child) {margin-bottom: 10px;}
  }



  //****************************************************************************************************
  //
  // .. ARTICLES
  //
  //****************************************************************************************************
  .article {
    padding-right: 20px;
    padding-left: 20px;
  }
    .article_announcement {
      padding-right: 0px;
      padding-left: 0px;
    }
    .article_related {
      > ul li {margin-left: 40px;}
    }
    .article_share {text-align: center;}
      .article_share_label {
        display: block;
        margin-bottom: 5px;
      }
      .article_share_views {margin-top: 5px;}



  //****************************************************************************************************
  //
  // .. ERROR PAGE
  //
  //****************************************************************************************************
  .error-block {
    padding-top: 70px;
    text-align: center;
  }



  //****************************************************************************************************
  //
  // .. FOOTER
  //
  //****************************************************************************************************
  .footer {
    p {
      span {display: block;}
    }
  }
    .footer_social {
      margin: 10px;
    }

}