%footer.material_footer
  .grid-i.__desktop-grid-1-2.__tablet-grid-1-2.__phone-grid-1-2
    %a{href: "#", class: "material_footer_a"}
      %i.ico.__16.__share
      &nbsp;
      Поделиться
  .grid-i.__desktop-grid-1-2.__tablet-grid-1-2.__phone-grid-1-2
    %p.material_footer_info
      %span
        %i.ico.__16.__eye
        &nbsp;
        2037