- hash = rand(1000)
%figure.material.__places
  %a{href: "/place_show##{hash}", class: "double-hover"}
    %img{src: "/assets/images/fake/img_0#{rand(1..5)}.jpg", class: "material_img", width: "100%", alt: "Кафе FaCULTet: фастфуд и здоровое питание в одном флаконе"}
  %figcaption.material_caption
    %i.ico.__64.__places.material_icon.__rotate1
    %article.material_article
      %h4.material_t.tx.__center.m-b_1
        %a{href: "/place_show##{hash}", class: "double-hover"} Кафе FaCULTet: фастфуд и&nbsp;здоровое питание в&nbsp;одном флаконе
      %p.material_date.m-b_1 16 октября
      %p.m-b_2 В&nbsp;начале осени на&nbsp;Среднем проспекте В.О. появилось местечко, название которого невольно переносит в&nbsp;яркие студенческие годы.
      .material_location
        %p
          %i.ico.__16.__clock.tx.__major
          с 12:00 до 00:00
        %p
          %i.ico.__16.__direct.tx.__major
          Средний проспект В. О., 13/41
    = haml '/views/common/blocks/_block_footer'.to_sym
