- hash = rand(1000)
%figure.material.__slide.grid-i.__desktop-grid-1-2.__tablet-grid-1-2.__tablet-grid-1-1
  %a{href: "/news_show##{hash}", class: "double-hover"}
    %img{src: "/assets/images/fake/img_580_320_0#{rand(1..2)}.jpg", class: "material_img", width: "100%", alt: "В России может появиться бесплатный оператор сотовой связи"}
  %figcaption.material_caption
    %article.material_article
      %h2.material_t
        %a{href: "/news_show##{hash}", class: "double-hover"} Петербуржцы смогут увидеть последний звездопад этой осени
    %footer.material_footer
      .grid-i.__desktop-grid-1-2.__tablet-grid-1-2.__phone-grid-1-2
        %a{href: "#", class: "material_footer_a"}
          %i.ico.__16.__share
          &nbsp;
          Поделиться
      .grid-i.__desktop-grid-1-2.__tablet-grid-1-2.__phone-grid-1-2
        %p.material_footer_info
          %span 11 ноября
          %span
            %i.ico.__16.__eye
            &nbsp;
            421
