@include media-query(tablet) {body {padding-top: 0 !important;}}
@include media-query(phone) {body {padding-top: 0 !important;}}



//****************************************************************************************************
//
// .. PAGE
//
//****************************************************************************************************
.page {
  &.__error {
    height: 100%;
    background: #eee;
    font-size: 17px;
    // .. min-height: 600px / null / null
    line-height: 25px;
    > main {
      height: inherit;
      > section {
        height: inherit;
        > .ctn {height: inherit;}
      }
    }
  }
  &.__join {
    background-color: $major-color;
    height: 100%;
    min-height: 100%;
    .main {
      height: 100%;
      min-height: 100%;
    }
  }
}


//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  border-bottom: 1px solid #ededed;
  background-color: #fff;
}
  .header_inner {
    // .. padding: 30px 0 10px / 30px 0 10px / 35px 0 30px
    position: relative;
    .grid > .grid-i {vertical-align: middle;}
  }
  .header_logo {
    vertical-align: top;
  }

  //
  // .. User block
  //
  .user-block {
    // .. padding-left: 20px / null / null
    // .. position: relative / relative / absolute
    // .. text-align: null / right / null
    // .. top: null / null / 50%
    // .. right: null / null / 0
    // .. null / null / @include prefixes(transform, translate(0, -50%));
  }
    .user-block_avatar {
      display: inline-block;
      // .. margin: 0 10px / null / null
      vertical-align: middle;
    }
    .user-block_a {
      color: inherit;
      // .. display: inline-block / block / null
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      vertical-align: middle;
    }



//****************************************************************************************************
//
// .. NAVIGATION
//
//****************************************************************************************************
.navigation {
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
  // .. &.__sticky / null / null
  > .ctn {padding: 15px 0;}
}

  //
  // .. Location
  //
  .location {
    position: relative;
  }
    .location_a {
      color: $base-color;
      span {
        position: relative;
        top: -1px;
      }
    }

  //
  // .. Menu toggle
  //
  .menu-toggle {
    // .. opacity: null / 1 !important / null
    position: relative;
    top: -3px;
    display: inline-block;
    height: 20px;
    color: $base-color;
    vertical-align: top;
    font-size: 28px;
    line-height: 20px;
    &.__active {color: $link-color-hover !important;}
  }
  .touch .menu-toggle:hover {color: inherit;}

  //
  // .. Menu
  //
  .menu {
    // .. display: block !important / none / none
    // .. padding: null / 35px 0 25px / 35px 0 25px
  }
    .menu_i {
      // .. display: inline-block / block / block
      // .. margin: 0 10px / null / null
      // .. null / &:not(:last-child) {margin-bottom: 10px;} / &:not(:last-child) {margin-bottom: 10px;}
    }
      .menu_i_a {
        color: $base-color;
        font-size: 17px;
        &:hover {
          &.__news     {color: $news-color;}
          &.__places   {color: $places-color;}
          &.__events   {color: $events-color;}
          &.__live     {color: $live-color;}
          &.__landmark {color: $landmark-color;}
        }
      }

  //
  // Search
  //
  .search {
    // .. position: relative / relative / absolute
    // .. right: null / null / 0
    // .. left: null / null / 0
    text-align: right;
  }
    .search_input {
      padding-right: 30px;
      // .. display: null / null / none
      height: 20px;
      background-color: #fff;
      // .. width: 100% / 60% / 100%
      &:focus {box-shadow: none;}
    }
      .search_button {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        font-family: "icon-16";
      }
      // .. null / null / .search_toggle



//****************************************************************************************************
//
// .. MATERIALS
//
//****************************************************************************************************
.material {
  &.__news {

  }
  &.__places {

  }
  &.__events {

  }
  &.__live {

  }
  &.__landmark {

  }
  &.__slide {
    .material_article {
      padding: 10px 20px 20px;
    }
  }
}
  .material_img {
    vertical-align: top;
  }
  .material_caption {
    position: relative;
    background-color: #fff;
  }
    .material_icon {
      @include prefixes(transition, all .33s ease);
      position: absolute;
      top: 0;
      left: 50%;
      margin: -32px 0 0 -32px;
    }
    .no-touch .material_icon {
      &.__rotate1 {@include prefixes(transform, rotateX(0deg) rotateY(0deg) rotateZ(0deg));}
      &.__rotate2 {@include prefixes(transform, rotateX(0deg) rotateY(180deg) rotateZ(0deg));}
    }
    .material_article {
      padding: 40px 20px 20px;
    }
      .material_t {
        white-space: normal;
        a {
          color: $base-color;
          &.hover,
          &:hover {color: $link-color-hover;}
        }
      }
      .material_date {
        color: #bfbfbf;
        text-align: center;
        font-size: 13px;
      }
      .material_location {
        color: #808080;
        .ico {margin-right: 10px;}
      }
    .material_footer {
      padding: 20px;
      background-color: #fafafa;
      span {
        margin-left: 20px;
      }
    }
      .material_footer_a {
        color: inherit;
        text-transform: uppercase;
        font-size: 11px;
      }
      .material_footer_info {
        color: #bfbfbf;
        text-align: right;
        font-size: 13px;
      }



//****************************************************************************************************
//
// .. ARTICLES
//
//****************************************************************************************************
.article {
  padding-top:    40px;
  // .. padding-right:  40px / 40px / 20px
  padding-bottom: 80px;
  background: #fff;
  // .. padding-left:   40px / 40px / 20px
  &.__news {

  }
  &.__places {

  }
  &.__events {

  }
  &.__live {

  }
  &.__landmark {

  }
}
  .article_header {
    text-align: center;
  }
    .article_date {
      color: #bfbfbf;
      font-size: 13px;
    }
    .article_announcement {
      // .. padding-right: 60px / 60px / 0
      // .. padding-left: 60px / 60px / 0
      @extend .tx.__muted;
      font-size: 17px;
      line-height: 25px;
    }
  .article_body {

  }
    .article_body_places {
      position: relative;
      padding: 80px 0 40px;
      border-top: 1px solid #ededed;
      &:last-child { margin-bottom: -60px;padding-bottom: 0;}
      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: -30px;
        margin-left: -30px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #e6e6e6;
        color: #fff;
        content: attr(data-number);
        text-align: center;
        font-weight: 800;
        font-size: 30px;
        line-height: 60px;
      }
    }
  .article_footer {

  }
    .article_related {
      > ul li {
        list-style: disc;
        font-size: 17px;
        line-height: 30px;
        // .. margin-left: 60px / 60px / 20px
      }
    }
    .article_share {
      position: relative;
      padding: 15px 40px;
      border-top: 1px solid #ededed;
      background: #fff;
      // .. text-align: null / null / center
    }
      .article_share_label {
        vertical-align: middle;
        // .. margin-right: 15px / 15px / null
        // .. null / null / margin-bottom: 5px
        text-transform: uppercase;
        // .. display: inline-block / inline-block / block
        font-size: 11px;
        line-height: 15px;
        // .. width: 80px / 80px / null
      }
      .article_share_views {
        color: #bfbfbf;
        font-size: 13px;
        // .. margin-top: null / null / 5px
        // .. position: absolute / absolute / null
        // .. top: 50% / 50% / null
        // .. right: 40px / null / null
        // .. @include prefixes(transform, translate(0, -50%)) / @include prefixes(transform, translate(0, -50%)) / null
      }



//****************************************************************************************************
//
// .. JOIN
//
//****************************************************************************************************
.join {
  height: 100%;
  min-height: 100%;
  table {
    width: 100%;
    height: 100%;
    td {
      vertical-align: middle;
    }
  }
}
  .join_side {
    // .. padding: null / null / 0 50px
    // .. &:first-child {padding-right: 20px;} / &:first-child {padding-right: 20px;} / null
    // .. &:last-child  {padding-left: 20px;} / &:last-child  {padding-left: 20px;} / null
  }

  //
  // .. Social
  //
  .join_social {

  }
    .join_social_i {

    }
      .join_social_i_a {
        color: #fff;
        display: block;
        height: 42px;
        font-size: 11px;
        line-height: 42px;
        text-align: center;
        text-transform: uppercase;
        &.__vk {background-color: #45668e;}
        &.__tw {background-color: #00bef6;}
        &.__fb {background-color: #3c5a98;}
        &:hover {color: #fff;}
      }

  //
  // .. Recovery password
  //
  .join_recovery {
    color: $base-color;
    text-decoration: underline;
    &:hover {
      color: $base-color;
      text-decoration: none;
    }
  }



//****************************************************************************************************
//
// .. BANNERS
//
//****************************************************************************************************
.banners {
  border: 1px solid #d9d9d9;
  padding: 20px;
  img {display: inline-block !important;}
}



//****************************************************************************************************
//
// .. SLIDER
//
//****************************************************************************************************
.slider {
  position: relative;
  &.__news {
    .slides {

    }
      .slides_i {
        margin-right: 2rem;
      }
    .slider_pager {
      padding: 20px 0;
      text-align: center;
    }
      .slider_pager_i {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $base-color;
        &.cycle-pager-active {
          background-color: transparent;
          &::before {
            @include prefixes(transform, rotate(-360deg));
            @include prefixes(transition, all 3s ease);
            background: url(/assets/images/load.png) center no-repeat;
          }
        }
        &::before {
          position: absolute;
          top: -5px;
          right: -5px;
          bottom: -5px;
          left: -5px;
          border-radius: 50%;
          background-color: transparent;
          content: "";
        }
        &:hover {
          &:not(.cycle-pager-active) {
            &::before {background-color: $major-color;}
          }
        }
      }
  }
  &.__join {
    height: 100%;
    min-height: 100%;
    .slides {
      width: 100%;
      height: 100%;
    }
      .slides_i {
        width: 100%;
        height: 100%;
        position: relative;
      }
  }
  &.__show {
    .slider_pager {
      position: absolute;
      right: 0;
      bottom: 25px;
      left: 0;
      text-align: center;
      z-index: 999;
    }
      .slider_pager_i {
        display: inline-block;
        margin: 0 15px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid transparent;
        &.cycle-pager-active {
          background-color: transparent;
          border-color: #fff;
        }
      }
    .slider_nav {

    }
      .slider_nav_i {
        &.__prev, &.__next {
          background-color: $base-color;
          color: #fff;
          cursor: pointer;
          width: 56px;
          height: 56px;
          line-height: 56px;
          position: absolute;
          text-align: center;
          top: 50%;
          opacity: .5;
          z-index: 999;
          @include prefixes(transition, all 3s ease);
          @include prefixes(transform, translate(0, -50%));
          &:hover {opacity: 1;}
        }
        &.__prev {
          left: 20px;
        }
        &.__next {
          right: 20px;
        }
      }
  }
}



//****************************************************************************************************
//
// .. ERROR PAGE
//
//****************************************************************************************************
.error-block {
  // .. position: absolute / absolute / null
  // .. top: 50% / 50% / null
  // .. left: 50% / 50% / null
  // .. @include prefixes(transform, translate(-50%, -50%)) / @include prefixes(transform, translate(-50%, -50%)) / null
}
  .error-block_pinata {
    position: relative;
    text-align: center;
    &::before {
      @include prefixes(transform, translate(-50%, 0));
      position: absolute;
      top: -2000px;
      bottom: 50%;
      left: 50%;
      z-index: -1;
      width: 5px;
      border-right: 4px solid #383838;
      border-left: 1px solid #383838;
      background-color: #c48cc8;
      content: '';
    }
  }
  .error {

  }
    .error_h {
      margin-bottom: 25px;
      h1 {
        font-weight: 700;
        font-size: inherit;
      }
    }



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
// .. Menu dropdown
//
.menu_dropdown {
  display: none;

  position: absolute;
  text-align: center;
  width: 160px;
  z-index: 1000;
  &::before {
    background: url(/assets/images/nipple.png) 0 0 no-repeat;
    content: '';
    width: 18px;
    height: 8px;
    position: absolute;
    top: -8px;
  }
  &.__location {
    top: 0;
    left: 0;
    &::before {left: 10px;}
  }
  &.__user {
    top: calc(100% + 20px);
    // .. right: 12px / 0 / 0
    &::before {right: 10px;}
  }
}
  .menu_dropdown_i {
    &:not(:last-child) {border-bottom: 1px solid #333;}
  }
    .menu_dropdown_i_a {
      background-color: $base-color;
      border: 10px solid $base-color;
      color: #bfbfbf;
      display: block;
      font-size: 11px;
      line-height: 40px;
      text-transform: uppercase;
      @include prefixes(transition, all .33s ease);
      &:hover {
        background-color: $major-color;
        color: #fff;
      }
    }

//
// .. Load more
//
.load-more {
  display: inline-block;
  color: inherit;
  text-align: center;
  cursor: pointer;
}
  .load-more_btn {
    display: inline-block;
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $major-color;
    line-height: 88px;
    img {
      display: inline-block;
      vertical-align: middle;
      line-height: 90px;
    }
  }
  .load-more_tx {
    font-weight: 700;
    font-size: 16px;
  }

//
// .. Comments
//
.comments {
  padding: 40px;
  background-color: #fafafa;
}

//
// .. Timeline
//
.timeline {
  background-color: $major-color;
  text-align: center;
  padding: 40px 0 35px;
}
  .timeline_list {
    display: inline-block;
  }
    .timeline_list_i {
      display: inline-block;
      text-align: center;
      margin: 0 10px;
      width: 35px;
      &.__weekend {
        a {color: #ac990a;}
      }
      &.__current {
        a {color: #fff;}
      }
      a {
        color: inherit;
        display: block;
        &:hover {color: #fff;}
      }
      span {display: block;}
    }
      .timeline_list_date {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 7px;
      }
      .timeline_list_day {line-height: 1;}

//
// .. File uploads
//
.file_upload {
  background-color: #fff;
  cursor: pointer;
  position: relative;
  @include prefixes(transition, all .33s ease);
  &:hover {
    background-color: $major-color;
    &::before {color: #fff;}
  }
  &::before {
    color: $base-bg;
    content: "\f067";
    font-family: FontAwesome;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefixes(transform, translate(-50%, -50%));
  }
}
  .file_upload_img {
    vertical-align: top;
  }
.file-remove {
  color: #2b2b2b;
  display: inline-block;
  margin-left: 10px;
}


//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  padding: 20px 0;
  background-color: #fff;
  color: #bfbfbf;
  font-size: 13px;
  p {
    text-align: center !important;
    span {
      // .. display: null / null / block
      margin-right: 10px;
    }
  }
  a {
    color: #bfbfbf;
    text-decoration: none;
    &:hover {color: $link-color-hover;}
  }
}
  .footer_social {
    // .. margin: null / 10px 0 / 10px 0
    text-align: center;
  }
    .footer_social_i {
      display: inline-block;
      margin: 0 15px;
      width: 20px;
      height: 20px;
      vertical-align: top;
    }