%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      %a{href: "/"}
        %img{src: "/assets/images/logo.svg", class: "header_logo hidden-phone", width: "328", height: "66", alt: "Blog Fiesta"}

    %nav.demo
      %ol
        %li 
          %a{href: "/index"} Главная
        %li 
          %a{href: "/news"} Новости
        %li
          %a{href: "/news_show"} Просмотр новости
        %li
          %a{href: "/places"} Места
        %li
          %a{href: "/place_show"} Просмотр места
        %li
          %a{href: "/events"} События
        %li
          %a{href: "/event_show"} Просмотр события
        %li
          %a{href: "/live"} Live
        %li
          %a{href: "/live_show"} Просмотр Live
        %li
          %a{href: "/landmark"} Достопримечательности
        %li
          %a{href: "/landmark_show"} Просмотр достопримечательности
        %li
          %a{href: "/search"} Поиск
        %li
          %a{href: "/errors/403"} Ошибка 403
        %li
          %a{href: "/errors/404"} Ошибка 404
        %li
          %a{href: "/errors/500"} Ошибка 500
        %li
          %a{href: "/errors/503"} Ошибка 503